:root {

  /* Colors */
  --clr-light: #fff;
  --clr-cream: #EBDECE;
  --clr-yellow: #F5AA5F;
  --clr-brown: #3E2A20;
  --clr-mocha: #EFBC9C;
  --clr-light-cyan: #ACDCD8;
  --clr-blue: #669FB2;
  --clr-orange: #EA572A;
  --clr-green: #0CA54B;
  --clr-neon-green: #06C755;
  --clr-sail: #EBDECE;
  --clr-dark-yellow: #E08223;

  /* Background */
  --bg-brown: rgba(62, 42, 32, 0.80);

  /* Fonts */
  --font-cocogoose: "Cocogoose";
  --font-gothic: "Zen Kaku Gothic New", sans-serif;
  --font-kiwi: "Kiwi Maru", serif;
  --font-sweet: "Sweet Sensation";
  --font-poppins: "Poppins", sans-serif;

  /* Texts */
  --text-2xl: 32px; 
  --text-xl: 24px;
  --text-lg: 20px;
  --text-m: 16px;
  --text-sm: 14px;
  --text-xs: 12px;

  /* Headings */
  --heading-one: 76px;
  --heading-two: 64px;
  --heading-three: 40px;
  --heading-four: 32px;

  /* Line height */
  --line-height-170: 1.7;
  --line-height-150: 1.5;
  --line-height-120: 1.2;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}
/* custom */
@media (max-width: 1599px) and (min-width: 1201px) {
  .container {
    max-width: 1200px;
  }
}
/* 2xl */ 
@media (max-width: 1536px) {
  h1 {
    --heading-one: 64px;
  }
  h2 {
    --heading-two: 54px;
  }
  h4 {
    --heading-four: 24px;
  }
  /* Home section */
  .hero__content {
    height: 400px;
  }
  /* End of Home section */

  /* Concept section */
  .gap-100 {
    gap: 50px;
  }
  .cactus-img-box {
    padding: 10px;
  }
  .cactus-img {
    width: 130px;
  }
  /* End of Concept section */
}  
/* xl */ 
@media (max-width: 1280px) {
  h2 {
    --heading-two: 48px;
  }
  h3 {
    --heading-three: 32px;
  }
  .section__text, .shop-text, .view-more-btn, .step__text, .card-title, .card-text, .instagram-text {
    font-size: var(--text-m);
  }
  /* Concept section */
  .cactus-img-box {
    display: none;
  }
  /* End of concept section */

  /* How it works section */
  .step__img {
    width: 80px;
    height: 80px;
  }
  .step__img img {
    width: 40px;
  }
  /* End of how it works section */

  /* Faq section */
  .accordion-button::after {
    width: 30px;
    height: 30px;
  }
  .accordion-button, .accordion-body {
    font-size: var(--text-m);
  }
  /* End of Faq section */

  /* Contact section */
  .contact-detail__img {
    width: 80px;
    height: 80px;
  }
  .contact-detail__img img {
    width: 32px;
  }
  /* End of contact section */
}  
/* lg */ 
@media (max-width: 1024px) {
  .yellow__wave-img, .yellow__wave-img-two, .light-blue__wave-img, .mocha__wave-img, .mocha__wave-img-two, .orange__wave-img, .orange__wave-img-two, .sail__wave-img {
    height: 50px;
  }
  .alt-content .section__title, .section__title, .contact-detail__text {
    font-size: var(--text-m);
  }

  /* Plan section */
  .plan-slider__image-box {
    height: 400px;
  }
  .show-price-hover {
    width: 24px;
    height: 24px;
  }
  .show-price__icon {
    transform: scale(1);
  }
  .show-price-active .show-price__icon, .show-price-hover:hover .show-price__icon {
    transform: scale(0.75);
  }
  .plant__one.show-price__container, .plant__four.show-price__container {
    position: absolute;
    top: 135px;
    left: 55px;
  }
  .plant__two.show-price__container, .plant__five.show-price__container {
    position: absolute;
    top: 210px;
    left: 205px;
  }
  .plant__three.show-price__container, .plant__six.show-price__container {
    position: absolute;
    top: 265px;
    left: 105px;
  }
  /* End of Plan section */

  /* Work section */
  .card-img-top {
    height: 250px;
  }
  .card-img-secondary {
    width: 200px;
  }
  .instagram-img__one, .instagram-img__two {
    width: 280px;
  }
  .instagram-logo {
    height: 60px;
  }
  .instagram-img {
    height: 280px;
  }
  /* End of work section */

  /* Contact section */
  .contact-section {
    height: 540px;
  }
  /* End of contact section */

  /* Footer section */
  .footer__text, .footer__title, .footer-link a {
    font-size: var(--text-sm);
  }
  /* End of footer section */
}  
/* custom */ 
@media (max-width: 960px) {
  .yellow__wave-img, .yellow__wave-img-two, .light-blue__wave-img, .mocha__wave-img, .mocha__wave-img-two, .orange__wave-img, .orange__wave-img-two, .sail__wave-img {
    height: 40px;
  }
  h1 {
    --heading-one: 48px;
  }
  h2 {
    --heading-two: 40px;
  }
  h3 {
    --heading-three: 32px
  }
  h4 {
    --heading-four: 20px;
  }
  .alt-content .section__heading, .alt-content .section__text {
    text-align: center;
  }
  /* Navbar */
  .line-button {
    display: none;
  }
  .navbar-nav {
    position: relative;
    padding: 50px 0 0 0;
    flex-direction: row;
  }
  .navbar-nav-col {
    flex-direction: column;
  } 
  .navbar-nav-img {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 230px;
    object-fit: contain;
    margin: auto 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 0 10px 0;
  }
  .navbar li {
    font-size: var(--text-lg);
  }
  .navbar-nav .nav-link.active {
    color: var(--clr-orange);
  }
  .nav-link {
    color: var(--clr-brown);
  }
  .navbar-contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .navbar-mobile.line-button {
    width: 180px;
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .navbar-mobile.line-button .line-logo {
    width: 12px;
    height: 12px;
  }
  .navbar-mobile.line-button .line-button__text {
    font-size: var(--text-sm);
  }
  .navbar-contact-details {
    margin-left: 50px;
  }
  .navbar-contact-title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .navbar-contact-item:last-of-type .navbar-contact-text {
    text-transform: none;
  }
  .navbar-contact-title, .navbar-contact-text {
    font-size: var(--text-xs);
  }
  .navbar-contact-title, .navbar-contact-item:last-of-type .navbar-contact-text {
    font-family: var(--font-cocogoose);
    font-weight: 300;
  }
  .navbar-contact-text {
    margin-top: 5px;
    font-family: var(--font-poppins);
    font-weight: 500;
  }
  .navbar-contact-icon {
    width: 12px;
    height: 12px;
    object-fit: contain;
  }
  .navbar-contact-item {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  /* End of Navbar */

  /* Top  section */
  .takefornia__hero {
    height: 70vh;
  }
  .hero__content {
    height: 320px;
  }
  /* End of Top section */

  /* Plan section */
  .plan-section.section-centered {
    padding-top: 100px;
  }
  .shop-section.section-centered, .info-section.section-centered {
    padding-bottom: 100px;
  }
  .plan-slider__hover-image {
    width: 100%;
  }
  .plan-slider {
    flex-direction: column;
  }
  .plant__one.show-price__container, .plant__four.show-price__container {
    left: 160px;
  }
  .plant__two.show-price__container, .plant__five.show-price__container {
    left: 335px;
  }
  .plant__three.show-price__container, .plant__six.show-price__container {
    left: 205px;
  }
  /* End of Plan section */

  /* Shop section */
  .shop-item {
    width: calc(50% - 15px);
  }
  /* End of shop section */

  /* Work section */
  .card-body {
    flex-direction: column;
  }
  .card-img-secondary {
    width: 100%;
  }
  .instagram-content {
    align-items: center;
  }
  .instagram-img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;
  }
  .instagram-img__two {
    position: relative;
  }
  .instagram-text {
    text-align: center;
  }
  .works-section .container {
    margin: 50px auto 50px auto;
  }
  /* End of work section */

  /* Footer */
  .footer-links-list {
    height: 90px;
  }
  /* End of footer */

  /* Information page */
  .info-hero-section {
    height: 400px;
  }
  .info-item {
    width: calc(50% - 15px);
  }
  /* End of information page */

  /* Information detail page */
  .info-news__date, .info-news__text, .back-btn__text {
    font-size: var(--text-m);
  }
  .info-news__image {
    height: 300px;
  }
  .back-btn__container {
    margin-top: 50px;
  }
  /* End of information detail page */
}  
/* md */ 
@media (max-width: 768px) {
  h1 {
    --heading-one: 44px;
  }
}  
/* sm */
 @media (max-width: 640px) {
  .yellow__wave-img, .yellow__wave-img-two, .light-blue__wave-img, .mocha__wave-img, .mocha__wave-img-two, .orange__wave-img, .orange__wave-img-two, .sail__wave-img {
    height: 35px;
  }
  h1 {
    --heading-one: 32px;
  }
  h2 {
    --heading-two: 28px;
  }
  h3 {
    --heading-three: 24px
  }
  h4 {
    --heading-four: 18px;
  }
  .alt-content .section__title, .alt-content .section__text, .section__title, .section__text, .contact-detail__text {
    font-size: var(--text-sm);
  }
  /* Top section */
  .hero__content {
    height: 280px;
  }
  /* End of top section */

  /* Concept section */
  .concept-img-box {
    height: 450px;
  }
  /* End of concept section */

  /* Plan section */
  .plant__one.show-price__container, .plant__four.show-price__container {
    top: 145px;
    left: 90px;
  }
  .plant__two.show-price__container, .plant__five.show-price__container {
    left: 245px;
  }
  .plant__three.show-price__container, .plant__six.show-price__container {
    left: 140px;
  }
  /* End of plan section */

  /* Shop section */
  .shop-img {
    height: 350px;
  }
  .shop-item {
    width: 100%;
  }
  /* End of shop section */

  /* Work section */
  .card {
    width: 100%;
  }
  .card-img-secondary {
    height: 250px;
    object-fit: cover;
  }
  .instagram-img__one, .instagram-img__two {
    width: 215px;
  }
  /* End of work section */

  /* Contact section */
  .contact-section {
    height: 800px;
  }
  .contact-details {
    flex-wrap: wrap;
    gap: 50px;
  }
  .contact-details__content {
    width: 100%;
  }
  /* End of contact section */

  /* Footer */
  .footer-links-list {
    height: 30px;
  }
  .footer__instagram-imgs {
    width: 100%;
  }
  /* End of footer */

  /* Information page */
  .info-item {
    width: 100%;
  }
  .info-img {
    height: 350px;
  }
  /* End of information page */
 }  
/* xs */ 
@media (max-width: 490px) {
  .yellow__wave-img, .yellow__wave-img-two, .light-blue__wave-img, .mocha__wave-img, .mocha__wave-img-two, .orange__wave-img, .orange__wave-img-two, .sail__wave-img {
    height: 40px;
  }
  h2 {
    --heading-two: 28px;
  }
  h3 {
    --heading-three: 24px
  }
  h4 {
    --heading-four: 16px;
  }
  .section__heading {
    text-align: center;
  }
  .section-centered {
    padding: 50px 0;
  }
  .alt-content .section__title, .alt-content .section__text {
    font-size: var(--text-sm);
  }
  .container {
    padding: 0 30px;
  }

  /* Navbar */
  .navbar-contact-details {
    margin-left: 0;
    margin-top: 50px;
  }
  .navbar-nav-img {
    width: 280px;
    margin: 0;
    top: 50px;
  }
  /* End of Navbar */

  /* Top section */
  .takefornia__hero {
    height: 50vh;
  } 
  .hero__content-col .container {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  .hero__title, .hero__text {
    text-align: center;
  }
  .hero__content {
    height: 300px;
  }
  /* End of top section */

  /* Concept section */
  .concept-img-box {
    height: 350px;
  }
  /* End of concept section */

  /* Plan section */
  .plan-section .container {
    margin-top: 50px;
  }
  .plan-slider {
    gap: 30px;
  }
  .plan-slider__image-box {
    height: 400px;
  }
  .plan-slider__image {
    border-radius: 15px;
  }
  .plan-slider__detail-list {
    height: auto;
  }
  .plan-slider {
    padding: 20px;
  }
  .plant__one.show-price__container, .plant__four.show-price__container {
    top: 150px;
    left: 50px;
  }
  .plant__two.show-price__container, .plant__five.show-price__container {
    top: 205px;
    left: 200px;
  }
  .plant__three.show-price__container, .plant__six.show-price__container {
    top: 260px;
    left: 90px;
  }
  /* End of plan section */

  /* Shop section */
  .shop-section .container {
    margin-bottom: 50px;
  }
  /* End of shop section */

  /* Info section */
  .step__img {
    width: 60px;
    height: 60px;
  }
  .step__img img {
    width: 32px;
  }
  .info-section .container {
    margin-bottom: 50px;
  }
  /* End of info section */

  /* Work section */
  .card-img-top, .card-img-secondary {
    height: 200px;
  } 
  .instagram-img__one, .instagram-img__two {
    width: 150px;
  }
  .instagram-button {
    padding: 10px 20px;
    font-size: var(--text-sm);
  }
  /* End of work section */

  /* Footer section */
  .footer-links-list {
    height: 75px;
  }
  /* End of footer section */
}
@media (max-width: 425px) {
  /* Plan section */
  .plant__one.show-price__container, .plant__four.show-price__container {
    top: 145px;
    left: 20px;
  }
  .plant__two.show-price__container, .plant__five.show-price__container {
    top: 205px;
    left: 165px;
  }
  .plant__three.show-price__container, .plant__six.show-price__container {
    top: 260px;
    left: 60px;
  }
  /* End of plan section */
}
/* custom */ 
@media (max-width: 375px) {
  /* Navbar */
  .navbar-nav-img {
    top: -150px;
    width: 200px;
    margin: auto 0;
  }
  /* End of Navbar */

  /* Top section */
  .hero__content {
    height: 350px;
  }
  /* End of top section */

  /* Plan section */
  .show-price-hover {
    width: 18px;
    height: 18px;
  }
  .show-price__icon {
    transform: scale(1.25);
  }
  .show-price-active .show-price__icon, .show-price-hover:hover .show-price__icon {
    transform: scale(1);
  }
  .plan-slider__image-box {
    height: 300px;
  }
  .plant__one.show-price__container, .plant__four.show-price__container {
    top: 65px;
    align-items: flex-end;
  }
  .plant__two.show-price__container, .plant__five.show-price__container {
    top: 140px;
    left: 140px;
  }
  .plant__three.show-price__container, .plant__six.show-price__container {
    top: 215px;
    align-items: flex-start;
  }
  /* End of Plan section */

  /* Shop section */
  .shop-img {
    height: 300px;
  }
  /* End of shop section */

  /* Work section */
  .instagram-img {
    flex-direction: column;
  }
  .instagram-img__one, .instagram-img__two {
    width: 100%;
  }
  /* End of work section */

  /* Information page */
  .info-img {
    height: 300px;
  }
  /* End of information page */
}
@media (max-width: 320px) {
  .plant__one.show-price__container, .plant__four.show-price__container {
    left: 10px;
  }
  .plant__two.show-price__container, .plant__five.show-price__container {
    left: 110px;
  }
  .plant__three.show-price__container, .plant__six.show-price__container {
    left: 25px;
  }
}